:colores {
    --colorPrimary: #F58D34 ;
    --colorSecond: #74BE4D ;
    --darkTheme: #59616b ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.side_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 20px;
    margin: 10px;
    background-color: #74BE4D;
}

.contenedor_Primary {
    display: flex;
    height: 50vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

/*Introducir la clase Hero aqui*/

.hero_content {
    height: 40vh;
    width: 50vh;
}

.hero_content h1{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
}

.hero_content p {
    margin-bottom:12px;
}

.hero_content button {
    margin-bottom:12px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 12px;
}

.forms {
    display: grid;
    height: auto;
    width: 450px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(251, 184, 39, 0.3);
    border: solid  2px #000;
}

.forms input {
    
}

.forms h3 {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: #454545;
}

.forms input {
    margin: 5px;
    padding: 13px;
}